.search{
    width: 100vw;
}
.App{
    overflow: scroll;
    height: 40vw;
    position: absolute;
    width: 80vw;
    margin: 5vw 10vw 5vw 10vw;
    border: thin lightgrey solid;
    border-radius: 5px;
}

.studentCard{
    margin: 50px;
    display:flex;
    justify-content:flex-start;
    img{
        width: 200px;
        height: 200px;
        border: lightgrey solid thin;
        border-radius: 100%;
    }
    .studentDetails{
        margin: auto;
        .button{
            position: absolute;
            right: 1vw;
            cursor:pointer
        }
        .studentName{
            position: relative;
            right: 20px
            }
        }
        .isClosed{
            display: none;
        }
        .isOpen{
            display: block;
        }
        .grades{
            div{
                display: flex;
                justify-content: flex-start;
                padding: 30px 0 30px 0;
                div{
                    padding: 5px;
                    border-radius: 5px;
                    background-color: lightgrey;
                    margin-right: 10px
                }
            }
        }
}
hr{
    width: 80%
}